<div class="entity-wrapper">
    <div class="entity-header d-flex align-items-center justify-content-center mb-3">
    <h2 class="me-3 mb-0">{{ title }}</h2>
  </div>

    <app-table
    [headers]="columns"
    [rows]="rows"
    [actions]="actions"
    [editTooltip]="editTooltip"
    [deleteTooltip]="deleteTooltip"
    (actionClick)="handleAction($event)">
  </app-table>
  <div class="mb-3"></div>
  
  <div class="entity-header d-flex align-items-center justify-content-center mb-3">
      <div *ngIf="showBackButton" >
      <button class="btn btn-secondary btn-sm" (click)="backClick.emit()">Back</button>    
    </div>  
    <button class="btn btn-primary btn-sm mx-3" (click)="newClick.emit()">{{ buttonText }}</button>

    </div>
</div>