.toggle-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  margin: 0.5rem 0;

  .chevron {
    font-size: 1.1rem;
    width: 1.5rem;
    display: inline-block;
  }

  .label {
    flex-grow: 1;
  }
}

.toggle-content {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}
