.navbar {
  background-color: #f8f9fa;

  .nav-link {
    color: #333;
    font-weight: 500;
    margin-right: 15px;

    &:hover,
    &.active {
      color: #005bac;
      text-decoration: underline;
    }
  }

  .navbar-brand {
    font-size: 1.25rem;
    color: #005bac;

    &:hover {
      text-decoration: none;
    }
  }
}

.main-container {
  padding: 2rem;
  background-color: #fdfdfd;
  min-height: 90vh;
}
